DB_PASSWORD=p4ssw0rd

# Configuration for the main TCP server
# GG_SERVICE_IP has to be a public IPv4 address
# GG_SERVICE_PORT is the port forwarded to the TCP service
GG_SERVICE_IP=127.0.0.1
GG_SERVICE_PORT=8074

# E-mail address for the instance administrator. This will be shown on the reset password page.
# Make sure to obfuscate it so that web scrapers won't send spam to it.
GG_INSTANCE_ADMIN_EMAIL="admin (at) poggadaj.local"

# Constant 32-bit seed used for the GG_WELCOME packet, which clients use to generate hashes.
# Changing this after having created users will break logging in from clients, be careful!
# Do not set this to 0
GG_SEED=4294967295
