<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{{template "title" .}} - poGGadaj</title>
    </head>
    <body>
        <div id="header">
            <hgroup>
                <h1>poGGadaj</h1>
                <h2>header-subtext</h2>
            </hgroup>

            <div>
                <a href="/"> Home </a>

                <a href="/download"> Download </a>

                <a href="/account"> Account </a>
            </div>
        </div>

        <div id="content">{{template "content" .}}</div>
    </body>
</html>
