body {
    background-color: #ff8040;
}

#main {
    width: 60%;
    margin-inline: auto;
    height: auto;
    padding-bottom: 30px;
    overflow-y: auto;
    text-align: center;
    background-color: #ffff9b;
    padding: 10px;
    border: 2px solid grey;
}

.column {
    float: left;
    width: 50%;
}

#header {
    font-family: "Patrick Hand";
}

.warning {
    border: 1px solid black;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.warning-symbol {
    object-fit: scale-down;
    width: 40px;
    height: 18px;
}

.warning-info {
    background-color: aqua;
}

.warning-warn {
    background-color: yellow;
}

.warning-serious {
    background-color: firebrick;
}
